!!! 5
%html{ lang: "en"}
  = render "layouts/gitlab/head", title: "Admin area"
  %body{class: "#{app_theme} admin", :'data-page' => body_data_page}
    = render "layouts/gitlab/broadcast"
    = render "layouts/gitlab/head_panel", title: "Admin area"
    = render "layouts/gitlab/flash"
    %nav.main-nav.navbar-collapse.collapse
      .container= render 'layouts/gitlab/nav/admin'

    .container
      .content= yield
    = yield :embedded_scripts
