!!! 5
%html{ lang: "en"}
  = render "layouts/gitlab/head", title: "Dashboard"
  %body{class: "#{app_theme} application", :'data-page' => body_data_page }
    = render "layouts/gitlab/broadcast"
    = render "layouts/gitlab/head_panel", title: "Dashboard"
    = render "layouts/gitlab/flash"
    %nav.main-nav.navbar-collapse.collapse
      .container= render 'layouts/gitlab/nav/dashboard'

    .container
      .content= yield
