!!! 5
%html{ lang: "en"}
  = render "layouts/gitlab/head", title: "Error"
  %body{class: "#{app_theme} application"}
    = render "layouts/gitlab/head_panel", title: "" if current_user
    = render "layouts/gitlab/flash"
    .container.navless-container
      .error-page
          = yield
