= render "gitlab/projects/commits/head"

%h3.page-title
  Compare View

= render "form"

- if @commits.present?
  %div.panel.panel-default
    .panel-heading
      Commits (#{@commits.count})
    - if @commits.size > Gitlab::MergeRequestDiff::COMMITS_SAFE_SIZE
      %ul.well-list
        - Gitlab::Commit.decorate(@commits.first(Gitlab::MergeRequestDiff::COMMITS_SAFE_SIZE)).each do |commit|
          = render "gitlab/projects/commits/inline_commit", commit: commit, project: @project
        %li.warning-row.unstyled
          other #{@commits.size - Gitlab::MergeRequestDiff::COMMITS_SAFE_SIZE} commits hidden to prevent performance issues.
    - else
      %ul.well-list= render partial: 'gitlab/projects/commits/commit', collection: Gitlab::Commit.decorate(@commits), locals: { project: @project }

  = render "gitlab/projects/commits/diffs", diffs: @diffs, project: @project

- else
  .light-well
    .center
      %h4
        There isn't anything to compare.
      %p.slead
        - if params[:to] == params[:from]
          You'll need to use different branch names to get a valid comparison.
        - else
          %span.label-branch #{params[:from]}
          and
          %span.label-branch #{params[:to]}
          are the same.
