- if event.proper?
  .event-item{class: "#{event.body? ? "event-block" : "event-inline" }"}
    .event-item-timestamp
      #{time_ago_with_tooltip(event.created_at)}

    = cache event do
      = image_tag avatar_icon(event.author_email, 24), class: "avatar s24", alt:''

      - if event.push?
        = render "gitlab/events/event/push", event: event
      - elsif event.note?
        = render "gitlab/events/event/note", event: event
      - else
        = render "gitlab/events/event/common", event: event

